$image-path: "../assets";

// responsive breakpoints
$sm-viewport: 576px;
$md-viewport: 768px;
$lg-viewport: 992px;
$xl-viewport: 1200px;
$xxl-viewport: 1400px;

// colors
$black: #000000;
$grey: #999999;
$grey-light: #E4E4E4;
$grey-dark: #6C6C6C;
