@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:900&display=swap');
$image-path: "../assets";

// responsive breakpoints
$sm-viewport: 576px;
$md-viewport: 768px;
$lg-viewport: 992px;
$xl-viewport: 1200px;
$xxl-viewport: 1400px;

// colors
$black: #191919;
$light-grey: #E4E4E4;
$grey: rgba(255, 255, 255, 0.6);
$dark-grey: #6C6C6C;
$brain-grey: #16161D;
$red: #B40000;
