@mixin card($card_z-index, $opacity) {
  background: -moz-linear-gradient(top, rgba(110,110,110,0) 0%, rgba(49,49,49,0) 50%, rgba(29,29,29,0.3) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(110,110,110,0) 0%,rgba(49,49,49,0) 50%,rgba(29,29,29,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(110,110,110,0) 0%,rgba(49,49,49,0) 50%,rgba(29,29,29,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 15px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e6e6e', endColorstr='#801d1d1d',GradientType=0 ); /* IE6-9 */
  height: 80%;
  left: 50%;
  max-height: 550px;
  opacity: $opacity;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.3) rotateY(0deg);
  width: 285px;
  z-index: $card_z-index;

  &.hide {
    display: none;
  }

  @media only screen and (min-width: 360px) {
    width: 325px;
  }

  @media only screen and (min-width: $lg-viewport) {
    transform: translate(-50%, -50%) scale(0.5) rotateY(0deg);
  }
}

@mixin deal-cards($name, $offset, $delay) {
  animation: #{$name} 1.5s #{$delay}s 1 cubic-bezier(.47,0,.74,.71) forwards;
  opacity: 1;

  @keyframes #{$name} {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.3);
    }
    50% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) scale(0.33);
    }
    100% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) scale(0.26);
    }
  }

  @media only screen and (min-width: $lg-viewport) {
    @keyframes #{$name} {
      0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.5);
      }
      50% {
        opacity: 1;
        transform: translate(#{$offset}, -50%) scale(0.63);
      }
      100% {
        opacity: 1;
        transform: translate(#{$offset}, -50%) scale(0.56);
      }
    }
  }
}

.cards-wrapper {
  padding-top: env(safe-area-inset-top);
}

.card-wrapper {
  height: 80%;
  max-height: 550px;
  width: 100%;
}

.card1 {
  animation: zoom-in 0.75s 2.5s 1 cubic-bezier(.47,0,.74,.71) forwards;
  cursor: default;
  @include card(2, 0);
}

.button--deal-cards {
  animation: fade-in 0.2s 1 cubic-bezier(.47,0,.74,.71) forwards;
  border: 1px $light-grey solid;
  border-radius: 10px;
  color: $light-grey;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  left: 50%;
  opacity: 0;
  padding: 15px 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0%);
  transition: all .3s ease-in-out;
  z-index: 20;

  @media (hover: hover) {
    &:hover {
      background-color: $light-grey;
      color: $brain-grey;
      transition: all .3s ease-in-out;
    }
  }
}

.card2 {
  @include card(1, 0);
  @include deal-cards(card2, -50%, 2);
}

.card3 {
  @include card(0, 1);
  @include deal-cards(card3, -15%, 2.5);
  @media only screen and (min-width: $lg-viewport) {
    @include deal-cards(card3, 15%, 2.5);
  }
}

.no-card {
  visibility: hidden;
}

.back-face-card {
  height: 100%;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}

.animate--dealing {
  animation: deal-cards1  3s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;
  cursor: default;
  opacity: 0;
  transition: all .3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transition: all .3s ease-in-out;
      filter: brightness(130%);
    }
  }

  @media only screen and (min-width: $lg-viewport) {
    animation: deal-cards1-desktop  3s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;
  }

  @keyframes deal-cards1 {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    30% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.3);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.33);
    }
    75% {
      opacity: 1;
      transform: translate(-85%, -50%) scale(0.33);
    }
    100% {
      cursor: pointer;
      opacity: 1;
      transform: translate(-85%, -50%) scale(0.26);
    }
  }
  @keyframes deal-cards1-desktop {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    30% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.63);
    }
    75% {
      opacity: 1;
      transform: translate(-115%, -50%) scale(0.63);
    }
    100% {
      cursor: pointer;
      opacity: 1;
      transform: translate(-115%, -50%) scale(0.56);
    }
  }
}

@keyframes zoom-in {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  90% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.card-filter {
  //background: -moz-linear-gradient(top, rgba(110,110,110,0) 0%, rgba(49,49,49,0) 75%, rgba(29,29,29,0.3) 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top, rgba(110,110,110,0) 0%,rgba(49,49,49,0) 75%,rgba(29,29,29,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
  //background: linear-gradient(to bottom, rgba(110,110,110,0) 0%,rgba(49,49,49,0) 75%,rgba(29,29,29,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 15px;
  clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e6e6e', endColorstr='#801d1d1d',GradientType=0 ); /* IE6-9 */
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 300;

  &.recording {
    animation: recording-card 30000ms 0s 1 linear forwards;
    clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
    transition: all 0.3s 0.1s ease-in-out;
  }
}

#card-filter-1, #card-filter-2 , #card-filter-3  {
  clip-path: polygon(0 0,0 0,0 100%,0 100%);
  background-color: rgba(62,0,0,0);
  transition: all 0.3s 0.1s ease-in-out;
}

@keyframes recording-card {
  0% {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
  100% {
    clip-path: polygon(0 100%,100% 100%,100% 100%,0 100%);
  }
}

.video-wrapper-card {
  height: 100%;
  object-fit: cover;
  width: 100%;

  &.reverse {
    transform: ScaleY(-1);
  }
}

.card-number {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  margin: 0;
  top: -27px;
  transform: translateX(-50%);
}

.card-name {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  margin: 0;
  bottom: -27px;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
}