.card1.animate--dealing.reveal {
  animation: card-flip 2.5s 0s 1 cubic-bezier(.45,.05,.55,.95) forwards;

  &:hover {
    filter: brightness(100%);
  }
}

.card1.animate--dealing.reveal {
  animation: card-flip 2.5s 0s 1 cubic-bezier(.45,.05,.55,.95) forwards;

  &:hover {
    filter: brightness(100%);
  }
}

@keyframes card-flip {
  0% {
    opacity: 1;
    transform: translate(-85%, -50%) translateZ(1000px) rotateY(0deg) scale(0.26);
  }
  15% {
    opacity: 1;
    transform: translate(-85%, -50%) translateZ(1000px) rotateY(0deg) scale(0.2);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) translateZ(1000px) rotateY(180deg) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateZ(1000px) rotateY(180deg) scale(1);
  }
}

.card1-reveal {
  animation: card-reveal 2.5s 0s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  background-color: $brain-grey;
  border-color: $light-grey;
  border-style: solid;
  border-radius: 15px;
  border-width: 25px 10px;
  cursor: default;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg) translate3d(0, 0, 0);
  width: 100%;
  z-index: 1000;
}

@keyframes card-reveal {
  0% { opacity: 0; }
  53% { opacity: 0; }
  53.1% { opacity: 1; }
  100% { opacity: 1; }
}

@mixin viewed-cards($name, $offset) {
  animation: #{$name} 2.5s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;

  @keyframes #{$name} {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(1000px) rotateY(180deg) scale(1);
    }
    15% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(1000px) rotateY(180deg) scale(1.05);
    }
    85% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) translateZ(1000px) rotateY(180deg) scale(0.22);
    }
    100% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) translateZ(1000px) rotateY(180deg) scale(0.26);
    }
  }
}

.card1--viewed {
  @include card(30, 0);
  @include viewed-cards(card1, -85%)
}

