@mixin card-flip-mixin($name,  $x-offset, $z-offset, $scale){
  animation: #{$name} 2.5s 0s 1 cubic-bezier(.45,.05,.55,.95) forwards;

  @keyframes #{$name} {
    0% {
      opacity: 1;
      transform: translate(#{$x-offset}, -50%) translateZ(#{$z-offset}) rotateY(0deg) scale(#{$scale + 0.06});
    }
    15% {
      opacity: 1;
      transform: translate(#{$x-offset}, -50%) translateZ(#{$z-offset}) rotateY(0deg) scale(#{$scale});
    }
    90% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(#{$z-offset}) rotateY(180deg) scale(1.05);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(#{$z-offset}) rotateY(180deg) scale(1);
    }
  }
}

.card1.animate--dealing.reveal {
  @include card-flip-mixin(card-flip1, -85%, 100px, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include card-flip-mixin(card-flip1-desktop, -115%, 100px, 0.5);
  }
  opacity: 1;
  z-index: 3;

  @media (hover: hover) {
    &:hover {
      filter: brightness(100%);
    }
  }
}

.card2.reveal {
  @include card-flip-mixin(card-flip2, -50%, 200px, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include card-flip-mixin(card-flip2-desktop, -50%, 200px, 0.5);
  }
  opacity: 1;
  z-index: 4;

  @media (hover: hover) {
    &:hover {
      filter: brightness(100%);
    }
  }
}

.card3.reveal {
  @include card-flip-mixin(card-flip3, -15%, 222px, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include card-flip-mixin(card-flip3-desktop, 15%, 100px, 0.5);
  }
  opacity: 1;
  z-index: 5;

  @media (hover: hover) {
    &:hover {
      filter: brightness(100%);
    }
  }
}

.card--front-face{
  animation: card-reveal 2.5s 0s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  background-color: $brain-grey;
  border-color: $grey;
  border-style: solid;
  border-radius: 15px;
  border-width: 35px 15px;
  cursor: default;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg) translate3d(0, 0, 0);
  width: 100%;
  z-index: 250;
}

@keyframes card-reveal {
  0% { opacity: 0; }
  53% { opacity: 0; }
  53.1% { opacity: 1; }
  100% { opacity: 1; }
}

@mixin viewed-cards($name, $offset, $scale) {
  animation: #{$name} 2.5s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;

  @keyframes #{$name} {
     0% {
       opacity: 1;
       transform: translate(-50%, -50%) translateZ(10px) rotateY(180deg) scale(1);
     }
     15% {
       opacity: 1;
       transform: translate(-50%, -50%) translateZ(10px) rotateY(180deg) scale(1.05);
     }
     85% {
       opacity: 1;
       transform: translate(#{$offset}, -50%) translateZ(10px) rotateY(180deg) scale(#{$scale + 0.02});
     }
     100% {
       opacity: 1;
       transform: translate(#{$offset}, -50%) translateZ(10px) rotateY(180deg) scale(#{$scale + 0.06});
     }
   }

}

@mixin selected-cards($name, $offset, $scale) {
  animation: #{$name} 2.5s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;

  @keyframes #{$name} {
    0% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) translateZ(300px) rotateY(180deg) scale(#{$scale + 0.06});
    }
    15% {
      opacity: 1;
      transform: translate(#{$offset}, -50%) translateZ(300px) rotateY(180deg) scale(#{$scale + 0.02});
    }
    85% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(300px) rotateY(180deg) scale(1.05);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(300px) rotateY(180deg) scale(1);
    }
  }
}

@mixin sent-cards($name) {
  animation: #{$name} 2s 0s 1 cubic-bezier(.47,0,.74,.71) forwards;

  @keyframes #{$name} {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) translateZ(300px) rotateY(180deg) scale(1);
    }
    15% {
      opacity: 1;
      transform: translate(-50%, -40%) translateZ(300px) rotateY(180deg) scale(1);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -180%) translateZ(300px) rotateY(180deg) scale(1);
    }
  }
}

.card1--viewed {
  @include card(3, 1);
  @include viewed-cards(card1-viewed, -85%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include viewed-cards(card1-viewed-desktop, -115%, 0.5);
  }
}

.card2--viewed {
  @include card(4, 1);
  @include viewed-cards(card2-viewed, -50%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include viewed-cards(card2-viewed-desktop, -50%, 0.5);
  }
}

.card3--viewed {
  @include card(5, 1);
  @include viewed-cards(card3-viewed, -15%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include viewed-cards(card3-viewed-desktop, 15%, 0.5);
  }
}

.card1--selected {
  @include card(30, 1);
  @include selected-cards(card1-selected, -85%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include selected-cards(card1-selected-desktop, -115%, 0.5);
  }
}

.card2--selected {
  @include card(30, 1);
  @include selected-cards(card2-selected, -50%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include selected-cards(card2-selected-desktop, -50%, 0.5);
  }
}

.card3--selected {
  @include card(30, 1);
  @include selected-cards(card3-selected, -15%, 0.2);
  @media only screen and (min-width: $lg-viewport) {
    @include selected-cards(card3-selected-desktop, 15%, 0.5);
  }
}

.card1--sent {
  @include card(30, 1);
  @include sent-cards(card1-sent);

  &.top{
    @include card(40, 1);
  }
}

.card2--sent {
  @include card(30, 1);
  @include sent-cards(card2-sent);

  &.top{
    @include card(40, 1);
  }
}
.card3--sent {
  @include card(30, 1);
  @include sent-cards(card3-sent);

  &.top{
    @include card(40, 1);
  }
}

.card-selection {
  animation: pulse 2s 4s infinite  ease-out;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.card-selection2 {
  animation: pulse 2s 2.5s infinite  ease-out;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(228, 228, 228, 0.4);
  }
  70% {
    box-shadow: 0 0 0 30px rgba(228, 228, 228, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(228, 228, 228, 0);
  }
}