@mixin footer-info() {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  display: block;
  opacity: 0;
}

.footer {
  bottom: 0;
  left: 50%;
  padding-bottom: 4vh;
  @media all and (display-mode: fullscreen) {
    padding-bottom: calc(2vh + env(safe-area-inset-bottom));
  }
  position: absolute;
  text-align: center;
  transform: translate(-50%, 10%);
  width: 100%;

  .card-UI {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  .instruction {
    @include footer-info();
    animation: fade-in-text .3s 3.5s 1 ease-in forwards;
    color: $grey;
    transform: translateY(100%);
  }

  .play {
    animation: fade-in .3s 2.5s 1 ease-in forwards;
    cursor: pointer;
    display: inline-block;
    opacity: 0;
    transform: translateY(50%);
    padding: 25px;
    position: relative;

    @media (hover: hover) {
      &:hover span {
        border-color: $light-grey;
      }
    }

    &:before {
      //border-color: $grey;
      //border-style: solid;
      //border-width: 2px;
      //border-radius: 100%;
      content: "";
      height: 32px;
      left: 15px;
      opacity: 1;
      position: absolute;
      top: 16.75px;
      width: 32px;
    }

    &.recording:before {
      border-color: $red;
    }

    span {
      background: transparent;
      border-color: $grey;
      border-style: solid;
      border-width: 0 4px 0 4px;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      height: 15px;
      transition: 250ms all ease-in-out;
      transform: scale(1);
      transform-origin: center;
      width: 12px;

      &.paused {
        border-color: transparent transparent transparent $light-grey;
        border-width: 7px 0 7px 12px;
      }

      &.record-button {
        border-style: solid;
        border-width: 0 7.5px 0 7.5px;
        border-color: $grey;
        border-radius: 10px;
        margin-left: -1.5px;
        transform: scale(1.5);
        transform-origin: center;

      }

      &.recording {
        border-style: solid;
        border-width: 0 7.5px 0 7.5px;
        border-color: $red;
        border-radius: 2px;
        margin-left: -1.5px;
      }
    }
  }

  .next {
    @include footer-info();
    animation: fade-in .3s 2.5s 1 ease-in forwards;
    color: $grey;
    cursor: pointer;
    display: inline-block;
    padding: 25px;
    transform: translateY(35%);
    transition: color .3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $light-grey;
        transition: color .3s ease-in-out;
      }
    }
  }
}

@keyframes fade-in-text {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(10%);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}