@mixin footer-info() {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  display: block;
  opacity: 0;
}

.footer {
  bottom: 0;
  left: 50%;
  padding-bottom: 4vh;
  @media all and (display-mode: fullscreen) {
    padding-bottom: calc(2vh + env(safe-area-inset-bottom));
  }
  position: absolute;
  text-align: center;
  transform: translate(-50%, 10%);
  width: 100%;

  .card-UI {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .re-record-button {
      align-items: center;
      display: flex;
      position: relative;
      top: 30%;
      transform: translateY(30%);

      .rerecord-wrapper {
        padding: 0 20px;
        cursor: pointer;
      }

      .rerecord {
        margin: 0;
        height: 27px;
        width: 27px;
      }
    }

    .recording-buttons {
      align-items: center;
      display: flex;
    }

    &.recording {
      justify-content: space-between;
      margin-right: 20px;
      align-items: flex-end;
    }
  }

  .instruction {
    @include footer-info();
    animation: fade-in-text .3s 2.5s 1 ease-in forwards;
    color: $grey;
    transform: translateY(100%);
  }

  .play {
    cursor: pointer;
    display: inline-block;
    opacity: 1;
    transform: translateY(45%);
    padding: 25px 20px;
    position: relative;

    @media (hover: hover) {
      &:hover span {
        border-color: $light-grey;
      }
    }

    &.record-button-outline {
      position: relative;
      animation: fade-in .3s 2s 1 ease-in forwards;
      opacity: 0;
      &.no-delay {
        animation-delay: 0s;
      }

      &:before {
        border-color: $grey;
        border-style: solid;
        border-width: 2px;
        border-radius: 100%;
        content: "";
        height: 27px;
        //left: 15px;
        opacity: 1;
        position: absolute;
        top: 72%;
        transform: translateY(-73%);
        width: 27px;
      }
    }

    span {
      animation: fade-in .3s 2s 1 ease-in forwards;
      background: transparent;
      border-color: $grey;
      border-style: solid;
      border-width: 0 4px 0 4px;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      height: 15px;
      opacity: 0;
      transition: 250ms all ease-in-out;
      transform: scale(1);
      transform-origin: center;
      width: 12px;

      &.paused {
        border-color: transparent transparent transparent $light-grey;
        border-width: 7px 0 7px 12px;
      }

      &.record-button {
        border-style: solid;
        border-width: 5px;
        border-color: $grey;
        border-radius: 10px;
        position: absolute;
        transform: scale(1.5) translateX(5.75px);
        transform-origin: center;
        height: 8px;
        width: 8px;
      }

      &.recording {
        animation-delay: 0s;
        border-style: solid;
        border-width: 5px;
        border-color: $grey;
        border-radius: 2px;
        position: absolute;
        height: 8px;
        transform: scale(1.1) translateX(7.75px);
        width: 8px;
      }
    }
  }

  .next {
    @include footer-info();
    animation: fade-in .3s 2s 1 ease-in forwards;
    color: $grey;
    cursor: pointer;
    display: inline-block;
    padding: 25px 20px;
    transform: translateY(35%);
    transition: color .3s ease-in-out;

    &.recording {
      margin-left: -5px;
      @media (hover: hover) {
        &:hover {
          color: $grey;
        }
      }
    }

    &.recording2{
      padding-right: 0;
    }

    @media (hover: hover) {
      &:hover {
        color: $light-grey;
        transition: color .3s ease-in-out;
      }
    }
  }
}

@keyframes fade-in-text {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(10%);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.playing_story {
  animation: fade-in .3s 2s 1 ease-in forwards;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wave-on {
  opacity: 1;
  transition: .3s ease-in;
}

.wave-off {
  opacity: 0;
  transition: .3s ease-out;
}

@keyframes wave-slide {
  0% {
    clip-path: polygon(0 0,0 0,0 100%,0 100%);
  }
  100% {
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
}

.wave {
  animation: wave-slide .5s 2.3s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  clip-path: polygon(0 0,0 0,0 100%,0 100%);
  height: 40px;
  width: 100px;
  transform: translateY(80%);

  &.nodelay {
    animation-delay: 0s;
    margin-left: -20px;
    transform:translateX(15px) translateY(0%);
  }
}

@for $i from 1 through 18 {
  .Line_#{$i} {
    animation: audioWave 1s infinite;
    animation-delay: $i * 0.15s;
  }
}

@keyframes audioWave {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}