.header {
  animation: fade-in 0.25s 2.5s 1 ease-in forwards;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  //padding-top: env(safe-area-inset-top);
  position: relative;

  a {
    color: $grey;
    height: min-content;
    text-decoration: none;
    transition: color .3s ease-in-out;

    @media (hover: hover) {
      &:hover {
        color: $light-grey;
        transition: color .3s ease-in-out;
      }
    }
  }

  .header--title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    //text-transform: uppercase;

    //@media only screen and (min-width: $sm-viewport) {
    //  font-size: 0.85rem;
    //}
  }

  .info-wrapper {
    display: flex;
    cursor: pointer;
  }

  .instruction {
    animation: fade-in .3s 2.5s 1 ease-in forwards;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    color: $grey;
    margin-right: -25px;
    opacity: 0;
  }

  .info-button {
    cursor: pointer;
    position: relative;
    padding: 25px;
    right: -15px;
    top: -15px;

    .cancel {
      span {
        line-height: 1.15;
        padding: 0 4.5px;
      }
    }

    span {
      background-color: $grey;
      border-radius: 100%;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 0.688rem;
      height: 15px;
      left: 50%;
      padding-left: 6px;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: background-color .3s ease-in-out;
      width: 15px;

      @media (hover: hover) {
        &:hover {
          background-color: $light-grey;
          transition: background-color .3s ease-in-out;
        }
      }
    }
  }
}

.info-popup {
  background-color: rgba(22,22,29,0.95);
  height: calc(100% - 60px);
  left: 50%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  padding: 1.75rem 1.5rem;
  top: 50%;
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  width: calc(100% - 40px);
  z-index: 500;

  @media all and (display-mode: fullscreen) {
    height: calc(92% - 60px);
    margin: 20px 0;
  }

  opacity: 1;
  transform: translate(-50%, -48%) translateZ(500px) scaleY(1);

  &.card-info {
    height: 80%;
    width: 285px;
    border-radius: 13px;
    max-height: 550px;
    transform: translate(-50%, -50%) translateZ(500px) scaleY(1);

    @media only screen and (min-width: 360px) {
      width: 326px;
    }
  }

  &.closed {
    opacity: 0;
    transform: translate(-50%, -50%) translateZ(500px) scaleY(0);
    transition: all 0.5s 0.3s ease-in-out;
  }

  h1, h2, h3, p {
    color: $light-grey;
  }

  h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-style: italic;
  }

  h2, h3  {
    font-family: 'Darker Grotesque', sans-serif;
  }

  h3 {
    margin: 35px 0 0 0;
  }

  p {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}

.info_inner-wrapper {
  transition: opacity 0.3s 0.5s ease-in-out;
  opacity: 1;
  padding-bottom: 1.75rem;

  &.closed {
    opacity: 0;
    transition: opacity 0.3s 0s ease-in-out;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.info-subtitle {
  margin: 20px 0;
}

.creators {
  margin: 10px 0 5px 0;
}

.creators-links {
  color: $light-grey;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
