.intro-title {
  color: $grey-light;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  width: 100%;
  z-index: 40;

  span {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    position: relative;
    display: inline-block;
    height: 100%;
  }
}

.title-word {
  overflow: hidden;
  opacity: 0;
  animation: fade-in 0.25s 0.2s 1 ease-in forwards;
}

.removed-title1 {
  animation: intro-animation1 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  padding-right: 10px;
  opacity: 1;
}
.removed-title2 {
  animation: intro-animation2 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  padding-right: 10px;
  opacity: 1;
}

.removed-title3 {
  animation: intro-animation3 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  padding-right: 10px;
  opacity: 1;
}

.abv-title {
  background-color: black;
  display: inline-block;
  z-index: 40;
  animation: colour-fade 0.45s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colour-fade {
  0% {
    background-color: black;
  }
  60% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes intro-animation3 {
  from { opacity: 1; margin-left: 0; }
  to { opacity: 0; margin-left: -60px; }
}

@keyframes intro-animation2 {
  from { opacity: 1; margin-left: 0; padding-right: 10px; }
  to { opacity: 0;  margin-left: -30px; padding-right: 0; }
}

@keyframes intro-animation1 {
  from { opacity: 1; margin-left: 0; padding-right: 10px; }
  to { opacity: 0; margin-left: -42px; padding-right: 0; }
}