.intro-title {
  animation: fade-in 0.25s 0.25s 1 ease-in forwards;
  opacity: 0;
  color: $light-grey;
  display: flex;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 44%;
  transform: translate(-50%, -44%);
  width: 100%;
  z-index: 40;

  span {
    display: inline-block;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: italic;
    font-size: 32px;
    position: relative;
    height: 100%;
  }
}

.title-word {
  overflow: hidden;
  transform: translateX(0);

  &.n {
    animation: intro-animation1-1 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  }
  &.e {
    animation: intro-animation1-2 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  }
  &.t {
    animation: intro-animation1-3 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  }
  &.deck {
    animation: intro-animation1-4 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  }

}

.removed-title1 {
  animation: intro-animation1 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  opacity: 1;
  padding-right: 5px;
  transform: translateX(0);
}
.removed-title2 {
  animation: intro-animation2 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  opacity: 1;
  padding-right: 5px;
  transform: translateX(0);
}

.removed-title3 {
  animation: intro-animation3 0.5s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
  margin-left: 0;
  opacity: 1;
  padding-right: 10px;
  transform: translateX(0);
}

.abv-title {
  display: inline-block;
  padding-left: 5px;
  z-index: 40;

  &:before {
    animation: colour-fade 0.45s 2s 1 cubic-bezier(.45,.05,.55,.95) forwards;
    background-color: black;
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes colour-fade {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro-animation1 {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-38px);
  }
}

@keyframes intro-animation2 {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-28px);
  }
}

@keyframes intro-animation3 {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-56px);
  }
}

@keyframes intro-animation1-1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(65px);
  }
}

@keyframes intro-animation1-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px);
  }
}

@keyframes intro-animation1-3 {
   from {
     transform: translateX(0);
   }
   to {
     transform: translateX(-15px);
   }
 }

@keyframes intro-animation1-4 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70px);
  }
}